<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Home page</title>
<!-- Extjs import -->
<link rel="stylesheet" type="text/css"
	href="resources/extjs/ext-all.css" />
<script type="text/javascript" src="resources/extjs/ext-all.js"></script>
<!-- Our script -->
</head>

<body>
	<div layout:fragment="content">
		<script th:inline="javascript">
			/*<![CDATA[*/

			Ext.onReady(function() {
						Ext.QuickTips.init();

						
						
						
						/* Stores */
						
						var demandesStore = Ext.create('Ext.data.Store', {
						    storeId:'Mes deamndes de congé',
						    fields:['creationDate', 'dure', 'status'],
						    autoLoad:true,
						    proxy: {
						        type: 'ajax',
						        url:  [[@{/getPersonDemandes}]],
						        reader: {
						            type: 'json',
						            root: 'root',
						        }
						    }, //proxy
						});
						
						
						/* Grid */
						var demandesGrid=Ext.create('Ext.grid.Panel', {
						    title: 'Informations',
						    store: demandesStore,
						    margin:'80 0 20 0',
						    columns: [
						        { text: 'Date de création',  dataIndex: 'creationDate', flex: 1 },
						        { text: 'Durée (jour)', dataIndex: 'dure', flex: 1 },
						        { text: 'Status', dataIndex: 'status', flex: 1 }
						    ],
						    height: 200,
						    width: 600,
						    
						});
						
						var formPanel = Ext.create('Ext.form.Panel', {
							xtype : 'panel',
							border:false,
							height : 50,
							width : '100%',
							layout:'anchor',
								items : [ 
						        {
								xtype : 'button',
								text:'Ajouter une demande',
								anchor: '10% 100%',
								handler: function() {
									window.location= [[@{/create}]]
						            }
								},
						     ]//items

						});

						demandesGrid.render('grid');
						formPanel.render('test');
						

					});

			/*]]>*/
		</script>


		
		<DIV id="grid" align="center"></DIV>
		<div id="test" align="center" />
		

	</div>

</body>
</html>